@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans&display=swap');

@import 'reset.css';
@import 'variables.css';

/* components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';

/* screens */
@import 'screens/login.css';

body{
    font-family: 'Open Sans', sans-serif;
}

