#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    text-decoration: none;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
    margin: 4px;
}

