.mainn {
  padding: var(--horizontal-space);
}

.user-component__notice i {
  margin-right: 15px;
  margin-top: 15px;
}

.mainn .icon-row {
  border-bottom: var(--main-border);
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.icon-row__icon {
  margin-top: 10px;
}

.more-suggestions {
  padding-top: 20px;
}

.more-suggestions__title {
  margin-bottom: 35px;
  margin-left: 10px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 70px;
  height: 70px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 28px;
  color: white;
}
